div.loginForm {
    display: block;
    background-color: #ddbbbb;
    text-align: center;
}

form {
    display: inline-block;
    border: 2px solid black;
    background-color: #ddbbbb;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

td a {
    display: block;
    border: 1px solid black;
    padding: 16px;
}

img {
    width: 300px;
    height: 300px;
}